@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: "Nunito",sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #d32f2f;
}

.buttons {
    margin-top: 20px;
}

.yes-button {
    font-size: 1.5em;
    padding: 12px 25px;
    margin-right: 10px;
    background-color: #fa0561;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.yes-button:hover {
    background-color: #e03777;

}

.no-button {
    font-size: 1.5em;
    padding: 12px 25px;
    background-color: #d3d3d3;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.git_container img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}